// scope    = global
// fileName = main.sass

// Library - - - - - - - - - - - - - - - - - -
@import "destyle.css"

// Original Utils - - - - - - - - - - - - - - -
@import _chunk

// Style - - - - - - - - - - - - - - - - - - -
html
  font-family: fonts('family')
  font-size: 10px
  @include gmq-responsive(null)
    background-color: colors('font')
